.container-fluid
  .row
    .col-md-12
      %h1= @item.product.name
  .row
    .col-md-7
      
      = image_tag(@item.product.picture, width: "100%")
      %p= @item.product.description rescue ""

    .col-md-1
    .col-md-3
      = simple_form_for(@item, html: { class: 'form-horizontal' }) do |f|
        = f.input :product_id, as: :hidden
        = f.input :sale_order_id, as: :hidden
        = f.input :quantity
        = f.submit "Add to Cart"
  