.col-md-2
.col-md-8
  %center
    =image_tag("success.png")
  %h3 Tu compra se ha realizado con exito! 

  %br
  %b Estado
  %p=@status

  %br

  %a{href: "/products", class: "btn btn-warning"} Seguir comprando
.col-md-2