!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Demo"
    = javascript_include_tag "https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application" 
   
 
  %body
    .navbar.navbar-default.navbar-static-top
      .container 
        %a.navbar-brand(href="/") 
          %p
            =image_tag("cart-logo.png", height: "24px")
            = "eCommerce"
            %b  Demo
        %ul.nav.navbar-nav.navbar-right 
          - if (!current_user)
            %li
              %a{:href => new_user_session_path} Sign In
          - else
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                %span.glyphicon.glyphicon-user
                = current_user["email"]
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} My Profile
                %li
                  %a{:href => "#"} My Cart
               
                %li.divider{:role => "separator"}
                
                  
                %li
                  %a{:href => "#"} Sign Out
    .container-fluid
      .row
        .col-lg-9
          = yield
        .col-lg-3
          
          - if current_user
            .panel.panel-default
              .panel-heading Cart
              .panel-body
                %ul.nav.nav-list 
                  %table(class="table table-bordered table-striped")
                    %thead
                      %tr
                        %th #
                        %th Description  
                        %th.right-align Cost 
                    %tbody
                      - p "Current User : #{current_user}"
                      - SaleOrder.get_active(current_user).items.each  do |item|
                        %tr
                          %td #{item.quantity.to_i}
                          %td=link_to("#{item.product.name}", item.product)  
                          %td.right-align #{number_to_currency((item.quantity * item.product.price), unit: "$")}
                          %td 
                            %a{href: item_path(item)}(data-method="delete")
                              %span.glyphicon.glyphicon-remove
                    %tfooter
                      %td.right-align(colspan="2")
                        %b Total: 
                      %td.right-align= number_to_currency(SaleOrder.get_active(current_user).total, unit: "$")
                .panel-footer
                  
                  %a{href: new_sale_path(sale_order_id=SaleOrder.get_active(current_user).id), class: "btn btn-warning"} Checkout
                  %a{href: "#", class: "btn btn-danger"} Clean

    